* text=auto eol=lf
*.py text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sql text eol=lf
*.toml text eol=lf
*.cfg text eol=lf
*.sh text eol=lf
*.moc3 binary
*.model3.json text eol=lf
*.physics3.json text eol=lf
*.png binary
*.jpg binary
*.webp binary
